* {
  padding: 0;
  box-sizing: border-box; /* 박스영역은 테두리까지 지정, content가 조금 줄어들수도 있음*/
}

.box {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  margin: 100px auto;
}

/* <!--========================================================
                              HEADER
    =========================================================--> */

/* <!--========================================================
                              CONTENT
    =========================================================--> */

/* <!--========================================================
                              FOOTER
=========================================================--> */
